In [19]:
import os
import pandas as pd
import plotly.express as px
import hvplot.pandas
from pathlib import Path
from dotenv import load_dotenv

In [20]:
# Load the .env file into the notebook
load_dotenv()

True

In [21]:
# Read in your MAPBOX_API_KEY
mapbox_api_access_token = os.getenv('MAPBOX_API_ACCESS_TOKEN')

# Confirm the availability of your Mapbox API access token by checking its type
type(mapbox_api_access_token)

# Set your Mapbox API access token
px.set_mapbox_access_token(mapbox_api_access_token)

In [4]:
# Using the read_csv function and Path module, create a DataFrame 
# by importing the sfo_neighborhoods_census_data.csv file from the Resources folder
sfo_data_df = pd.read_csv(
    Path('../Starter_Code/Resources/sfo_neighborhoods_census_data.csv')
    )
# Review the first and last five rows of the DataFrame
display(sfo_data_df.head())
display(sfo_data_df.tail())

   year      neighborhood  sale_price_sqr_foot  housing_units  gross_rent
0  2010      Alamo Square           291.182945         372560        1239
1  2010        Anza Vista           267.932583         372560        1239
2  2010           Bayview           170.098665         372560        1239
3  2010  Buena Vista Park           347.394919         372560        1239
4  2010  Central Richmond           319.027623         372560        1239

,year,neighborhood,sale_price_sqr_foot,housing_units,gross_rent
392,2016,Telegraph Hill,903.049771,384242,4390
393,2016,Twin Peaks,970.085470,384242,4390
394,2016,Van Ness/ Civic Center,552.602567,384242,4390
395,2016,Visitacion Valley,328.319007,384242,4390
396,2016,Westwood Park,631.195426,384242,4390

---

In [5]:
# Create a numerical aggregation that groups the data by the year and then averages the results.
housing_units_by_year = (
    sfo_data_df[['year' , 'sale_price_sqr_foot', 'housing_units', 'gross_rent']]
    .groupby('year')
    .mean()
    .sort_values('year')
)

# Review the DataFrame
housing_units_by_year

      sale_price_sqr_foot  housing_units  gross_rent
year
2010           369.344353         372560        1239
2011           341.903429         374507        1530
2012           399.389968         376454        2324
2013           483.600304         378401        2971
2014           556.277273         380348        3528
2015           632.540352         382295        3739
2016           697.643709         384242        4390

In [6]:
housing_units_by_year.hvplot.bar(
    x='year',
    y='housing_units',
    xlabel='Year',
    ylabel='Housing Units',
    title='Housing Units from San Francisco from 2010 to 2016',
    color="blue",
    ylim=([365000,385000])
).opts(yformatter='%.0f')

:Bars   [year]   (housing_units)

In [7]:
# Create a numerical aggregation by grouping the data by year and averaging the results
prices_square_foot_by_year = housing_units_by_year

# Review the resulting DataFrame
prices_square_foot_by_year

      sale_price_sqr_foot  housing_units  gross_rent
year
2010           369.344353         372560        1239
2011           341.903429         374507        1530
2012           399.389968         376454        2324
2013           483.600304         378401        2971
2014           556.277273         380348        3528
2015           632.540352         382295        3739
2016           697.643709         384242        4390

In [8]:
# Filter out the housing_units column, creating a new DataFrame 
# Keep only sale_price_sqr_foot and gross_rent averages per year
prices_square_foot_by_year = prices_square_foot_by_year.drop(columns = ['housing_units'])

# Review the DataFrame
prices_square_foot_by_year

      sale_price_sqr_foot  gross_rent
year
2010           369.344353        1239
2011           341.903429        1530
2012           399.389968        2324
2013           483.600304        2971
2014           556.277273        3528
2015           632.540352        3739
2016           697.643709        4390

In [9]:
# Plot prices_square_foot_by_year. 
# Inclued labels for the x- and y-axes, and a title.
prices_square_foot_by_year.hvplot.line(
    x='year',
    xlabel='Year',
    ylabel='Gross Rent / Sale Price Per Square Foot',
    legend=True,
    title='Sale Price Per Square Foot and Average Gross Rent - 2010-2016- San Francisco'
)

:NdOverlay   [Variable]
   :Curve   [year]   (value)

In [10]:
# Group by year and neighborhood and then create a new dataframe of the mean values
prices_by_year_by_neighborhood = (
    sfo_data_df[['year', 'neighborhood', 'sale_price_sqr_foot', 'housing_units', 'gross_rent']]
    .groupby(['year','neighborhood'])
    .mean()
    .sort_values(['year', 'neighborhood'])
)

# Review the DataFrame
prices_by_year_by_neighborhood.head()

                       sale_price_sqr_foot  housing_units  gross_rent
year neighborhood
2010 Alamo Square               291.182945         372560        1239
     Anza Vista                 267.932583         372560        1239
     Bayview                    170.098665         372560        1239
     Buena Vista Park           347.394919         372560        1239
     Central Richmond           319.027623         372560        1239

In [11]:
# Filter out the housing_units
prices_by_year_by_neighborhood = prices_by_year_by_neighborhood.drop(columns=['housing_units'])

# Review the first and last five rows of the DataFrame
prices_by_year_by_neighborhood

                             sale_price_sqr_foot  gross_rent
year neighborhood
2010 Alamo Square                     291.182945        1239
     Anza Vista                       267.932583        1239
     Bayview                          170.098665        1239
     Buena Vista Park                 347.394919        1239
     Central Richmond                 319.027623        1239
...                                          ...         ...
2016 Telegraph Hill                   903.049771        4390
     Twin Peaks                       970.085470        4390
     Van Ness/ Civic Center           552.602567        4390
     Visitacion Valley                328.319007        4390
     Westwood Park                    631.195426        4390

[397 rows x 2 columns]

In [18]:
# Use hvplot to create an interactive line plot of the average price per square foot
# The plot should have a dropdown selector for the neighborhood
prices_by_year_by_neighborhood.hvplot.line(
    x='year',
    groupby='neighborhood',
    xlabel='Year',
    ylabel='Gross Rent / Sale Price Per Square Foot',
    title='Sale Price Per Square Foot and Average Gross Rent - 2010-2016 - San Francisco'
    
)

:DynamicMap   [neighborhood]
   :NdOverlay   [Variable]
      :Curve   [year]   (value)

In [13]:
# Load neighborhoods coordinates data
neighborhood_locations_df = pd.read_csv(
    Path('../Starter_Code/Resources/neighborhoods_coordinates.csv'),
    index_col="Neighborhood"
)
# Review the DataFrame
neighborhood_locations_df

                          Lat         Lon
Neighborhood
Alamo Square        37.791012 -122.402100
Anza Vista          37.779598 -122.443451
Bayview             37.734670 -122.401060
Bayview Heights     37.728740 -122.410980
Bernal Heights      37.728630 -122.443050
...                       ...         ...
West Portal         37.740260 -122.463880
Western Addition    37.792980 -122.435790
Westwood Highlands  37.734700 -122.456854
Westwood Park       37.734150 -122.457000
Yerba Buena         37.792980 -122.396360

[73 rows x 2 columns]

In [14]:
# Calculate the mean values for each neighborhood
all_neighborhood_info_df = (
    sfo_data_df[['neighborhood', 'year', 'sale_price_sqr_foot', 'gross_rent']]
    .groupby('neighborhood')
    .mean()
    .sort_values('neighborhood')
)

# Review the resulting DataFrame
all_neighborhood_info_df

                           year  sale_price_sqr_foot   gross_rent
neighborhood
Alamo Square        2013.000000           366.020712  2817.285714
Anza Vista          2013.333333           373.382198  3031.833333
Bayview             2012.000000           204.588623  2318.400000
Bayview Heights     2015.000000           590.792839  3739.000000
Bernal Heights      2013.500000           576.746488  3080.333333
...                         ...                  ...          ...
West Portal         2012.250000           498.488485  2515.500000
Western Addition    2012.500000           307.562201  2555.166667
Westwood Highlands  2012.000000           533.703935  2250.500000
Westwood Park       2015.000000           687.087575  3959.000000
Yerba Buena         2012.500000           576.709848  2555.166667

[73 rows x 3 columns]

In [15]:
#Using the Pandas `concat` function, join the 
# neighborhood_locations_df and the all_neighborhood_info_df DataFrame
# The axis of the concatenation is "columns".
# The concat function will automatially combine columns with
# identical information, while keeping the additional columns.
all_neighborhoods_df = pd.concat(
    [neighborhood_locations_df, all_neighborhood_info_df], 
    axis="columns",
    sort=False
)

# Review the resulting DataFrame
display(all_neighborhoods_df.head())
display(all_neighborhoods_df.tail())

,Lat,Lon,year,sale_price_sqr_foot,gross_rent
Alamo Square,37.791012,-122.402100,2013.000000,366.020712,2817.285714
Anza Vista,37.779598,-122.443451,2013.333333,373.382198,3031.833333
Bayview,37.734670,-122.401060,2012.000000,204.588623,2318.400000
Bayview Heights,37.728740,-122.410980,2015.000000,590.792839,3739.000000
Bernal Heights,37.728630,-122.443050,NaN,NaN,NaN

                      Lat        Lon    year  sale_price_sqr_foot   gross_rent
Yerba Buena      37.79298 -122.39636  2012.5           576.709848  2555.166667
Bernal Heights        NaN        NaN  2013.5           576.746488  3080.333333
Downtown              NaN        NaN  2013.0           391.434378  2817.285714
Ingleside             NaN        NaN  2012.5           367.895144  2509.000000
Outer Richmond        NaN        NaN  2013.0           473.900773  2817.285714

In [16]:
# Call the dropna function to remove any neighborhoods that do not have data
all_neighborhoods_df = all_neighborhoods_df.reset_index().dropna()

# Rename the "index" column as "Neighborhood" for use in the Visualization
all_neighborhoods_df = all_neighborhoods_df.rename(columns={"index": "Neighborhood"})

# Review the resulting DataFrame
display(all_neighborhoods_df.head())
display(all_neighborhoods_df.tail())

,Neighborhood,Lat,Lon,year,sale_price_sqr_foot,gross_rent
0,Alamo Square,37.791012,-122.402100,2013.000000,366.020712,2817.285714
1,Anza Vista,37.779598,-122.443451,2013.333333,373.382198,3031.833333
2,Bayview,37.734670,-122.401060,2012.000000,204.588623,2318.400000
3,Bayview Heights,37.728740,-122.410980,2015.000000,590.792839,3739.000000
5,Buena Vista Park,37.768160,-122.439330,2012.833333,452.680591,2698.833333

,Neighborhood,Lat,Lon,year,sale_price_sqr_foot,gross_rent
68,West Portal,37.74026,-122.463880,2012.25,498.488485,2515.500000
69,Western Addition,37.79298,-122.435790,2012.50,307.562201,2555.166667
70,Westwood Highlands,37.73470,-122.456854,2012.00,533.703935,2250.500000
71,Westwood Park,37.73415,-122.457000,2015.00,687.087575,3959.000000
72,Yerba Buena,37.79298,-122.396360,2012.50,576.709848,2555.166667

In [17]:
# Create a scatter mapbox to analyze neighborhood info
fig = px.scatter_mapbox(
    all_neighborhoods_df,
    lat='Lat',
    lon='Lon',
    size='sale_price_sqr_foot',
    color='gross_rent',
    size_max=25,
    hover_data=['Neighborhood'],
    zoom=11,
    title='Average Price Per Square Foot and Gross Rent in San Francisco'
)

fig.show()